
body {
  background-color: hsla(333, 100%, 53%, 1);

background: linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF0F7B", endColorstr="#F89B29", GradientType=1 );
}



h1, p {
  font-family: Lato;
}
ul {
  padding: 0;
  margin:10px 0 0 0;
}
li {
  list-style-type: none;
  padding: 10px;
  margin: 10px;
  background-color:rgba(61, 120, 175, 0.411);
  border-radius: 10px;
}
form {
  margin: 10px;
}